@import "../../../theme/styles/styles";

.generic-card {
  display: flex;
  padding: 40px 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.96);

  &.small-size {
    width: 370px;
    height: 450px;
  }

  &.big-size {
    width: 480px;
    height: 565px;
  }

  &.white-bg {
    background: $white-color;
  }

  &.orange-bg {
    background: $primary-color;
    color: white;
  }

  .separator {
    width: 100%;
    padding: 25px 30% 10px 30%;

    .long {
      width: 40%;
      height: 4px;
      border-radius: 10px;

      &.white-bg {
        background: $white-color;
      }

      &.orange-bg {
        background: $primary-color;
      }
    }

    .short {
      width: 10px;
      height: 4px;
      border-radius: 10px;

      &.white-bg {
        background: $white-color;
      }

      &.orange-bg {
        background: $primary-color;
      }
    }
  }

  .generic-title{
    padding-bottom: 10px;
    &.orange-text{
      color: $primary-color;
    }
  }

  .order-list{
    width: 100%;
    padding: 0 30px;
  }

}
