<div class="main-container">
  <img class="background" src="./assets/img/01.png" alt="space">
  <div class="success-layout">
    <img class="main-logo" src="./assets/img/02.webp" alt="logo" (click)="toHome()">
    <div class="details-layout">
      <div class="description-container">

        <div class="main-text fs-46 fw-bold text-unmarked animated fadeIn">TUS DATOS<br><span class="text-marked">HAN SIDO ENVIADOS<br>CON ÉXITO</span>
        </div>
        <div class="subtitles fw-medium fs-24 animated fadeIn delay-1">En breve recibirás un correo de confirmación <br> por parte del equipo de
          AtomicLabs.
        </div>
        <div class="subtitles-bottom fs-20 fw-medium animated fadeIn delay-1">Recuerda revisar tu bandeja de SPAM <br>¡Esperamos verte pronto!</div>

      </div>
      <div class="cosmonaut-container">
        <img class="cosmonaut animated animated-slows headShake infinite" src="./assets/img/26.png" alt="">
      </div>
    </div>
  </div>
</div>
<generic-footer></generic-footer>
