@import "layout";
@import "animate";
@import "colors";
@import "typeface";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
  width:10px !important;
}
::-webkit-scrollbar-track{
  background: rgba($secondary-color, 0.5) !important;
  border-radius:10px !important;
}
::-webkit-scrollbar-thumb{
  background: $primary-color !important;
  border-radius: 10px !important;
}
