@import "../../../theme/styles/styles";

.generic-btn {
  width: 300px;
  height: 45px;
  border-radius: 25px;
  background: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $blue-text;
  cursor: pointer;
  transition: transform 0.4s ease;

  &.bg-orange{
    background: $primary-color;
  }

  &.color-white{
    color: $white-color;
  }

  &.btn-md{
    width: 192px;
    height: 47px;
  }

  &.btn-lg{
    width: 220px;
    height: 50px;
  }

  &.disabled{
    opacity: 0.5;
    pointer-events: none;
  }


}

.generic-btn:active {
  transform: scale(0.95);
}
