<div class="generic-footer">
  <div class="footer-container">
    <span class="terms-text fs-20 fw-semi">© 2022 AtomicLabs. Todos los derechos reservados.</span>
    <div class="social-container d-flex align-items-center">
      <span class="privacy fw-semi fs-20">Aviso de privacidad</span>
      <a href="https://www.linkedin.com/company/atomic-mexico/"><img  src="./assets/img/13.png" alt="" class="social-icon"></a>
      <a href="https://twitter.com/atomicmexico"><img  src="./assets/img/14.png" alt="" class="social-icon" ></a>
    </div>
  </div>
</div>
