@import "../../../theme/styles/styles";

.generic-footer{
  width: 100%;
  height: 123px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white-color;
  user-select: none;
  .footer-container{
    width: 1154px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .social-container{

      width: 365px;
      justify-content: space-between;
      .privacy{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
